skyguide-ei-parent/skyguide-ei-schema/src/main/resources/xsd/flight/flight/Arrival.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="unqualified"
   targetNamespace="http://www.fixm.aero/flight/2.0"
   version="2.0.0"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/2.0"
   xmlns:fx="http://www.fixm.aero/flight/2.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2013 FIXM CCB membership comprising: Airservices Australia, EUROCONTROL, 
         JCAB, NATS, NavCanada, SESAR Joint Undertaking and US FAA 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions and the disclaimer in the documentation and/or other materials 
         provided with the distribution. 
         * Neither the names of Airservices Australia, EUROCONTROL, JCAB, NATS, NavCanada, 
         SESAR Joint Undertaking and US FAA nor the names of their contributors may be used 
         to endorse or promote products derived from this specification without specific prior 
         written permission. 
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on Airservices Australia: http://www.airservicesaustralia.com/ 
         Details on EUROCONTROL: http://www.eurocontrol.int/ 
         Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
         Details on NATS: http://www.nats.co.uk/ 
         Details on NavCanada: http://www.navcanada.ca/ 
         Details on the SESAR JU and its members: http://www.sesarju.eu/players/members 
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <import namespace="http://www.fixm.aero/base/2.0" schemaLocation="./../../base/Base.xsd"/>
   <annotation>
      <documentation>
         The Arrival package contains al information about the actual arrival of the flight 
         at an airport, including approach, landing, and arrival at terminal. 
      </documentation>
   </annotation>

   <complexType name="FlightArrivalType">
      <annotation>
         <documentation>
            Arrival information linked to a flight. This information shall include: 
            * assigned runway 
            * assigned STAR procedure 
            * Missed_Approach status (Boolean) 
            * Eligibility for AMAN (Is the flight already in the scope of AMAN sequencing?) 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:FeatureType">
            <sequence>
               <element name="approachFix" type="fb:SignificantPointType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Initial Approach Fix: The point on the arrival route at which arrival sequencing 
                        activities are focused.  Such that, when the flight passes this point, a stable runway 
                        arrival sequence can be provided. 
                     </documentation>
                  </annotation>
               </element>
               <element name="approachTime" type="fb:MultiTimeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Approach Time - Estimated: The shared time estimate at which the flights final approach 
                        is expected to commence. 
                     </documentation>
                  </annotation>
               </element>
               <element name="arrivalAerodrome" type="fb:AerodromeReferenceType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Destination Aerodrome: The ICAO designator or the name of the aerodrome at which 
                        the flight is scheduled to arrive. 
                     </documentation>
                  </annotation>
               </element>
               <element name="arrivalAerodromeAlternate" type="fb:AerodromeReferenceType" minOccurs="0" maxOccurs="unbounded" > 
                  <annotation>
                     <documentation>
                        .Destination Aerodrome - Alternate: ICAO designator or the name of an alternate aerodrome 
                        to which an aircraft may proceed should it become either impossible or inadvisable 
                        to land at the original destination aerodrome, or an alternate destination location. 
                        
                     </documentation>
                  </annotation>
               </element>
               <element name="arrivalAerodromeOriginal" type="fb:AerodromeReferenceType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Original Destination Aerodrome: The Original Destination Airport is the Destination 
                        Airport submitted when a Flight Plan was initially filed. 
                     </documentation>
                  </annotation>
               </element>
               <element name="arrivalFix" type="fb:SignificantPointType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Aerodrome Arrival Fix: The point at which the responsibility for control of the 
                        flight is transferred from the En Route Air Traffic Control unit (Center, ARTCC) 
                        to the Terminal Air Traffic Control unit. 
                     </documentation>
                  </annotation>
               </element>
               <element name="arrivalFixTime" type="fb:MultiTimeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Arrival Fix Time - Estimated: Estimated time over the arrival fix. 
                        .Arrival Fix Time - Actual: Actual time the flight passed over the arrival fix. 
                     </documentation>
                  </annotation>
               </element>
               <element name="arrivalPositionsAndTimes" type="fb:AerodromePositionTimeListType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Arrival Stand: The stand at which an aircraft arrives at the destination airport 
                        on completion of the flight. 
                        .Arrival Runway: The expected, assigned, or actual runway for an arriving flight. 
                        
                        .Runway Arrival Time - Estimated: The most reliable estimated time when an aircraft 
                        will touchdown on the runway. 
                        .In-Block Time - Actual: The time at which a flight arrives at the stand 
                        .Arrival Time - Estimated: The estimated time at which the aircraft will arrive (wheels 
                        down) at the destination aerodrome. This time is given in UTC. 
                        .Runway Arrival Time - Target: Targeted time from the arrival management process 
                        at the threshold, taking runway sequence and constraints into account. 
                        .Runway Arrival Time - Actual: The actual time at which the aircraft lands on a runway. 
                        
                        .In-Block Time - Initial: The original stand arrival time of the flight when the 
                        flight is first created. 
                        .Arrival Terminal: The airport terminal at which the flight arrives. 
                        .In-Block Time - Controlled: The time at which a flight is required to arrive at 
                        the destination stand as determined by a TMI. 
                        .Arrival Time - Actual: For IFR flights, the time at which the aircraft arrived at 
                        a designated point, defined by reference aids, from which an instrument approach 
                        procedure commenced, or, if no navigation aid was associated with the aerodrome, 
                        the time at which the aircraft arrived at the aerodrome. For VFR flights, the time 
                        at which the aircraft arrived at the aerodrome. 
                        .Runway Arrival Time - Controlled: The time at which a flight is required to touch 
                        down at the runway as result of a tactical slot allocation or a Traffic Management 
                        Initiative. 
                        .In-Block Time - Estimated: The estimated time at which a flight will arrive at the 
                        stand. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="arrivalFleetPrioritization" type="fb:FleetPriorityType" use="optional" > 
               <annotation>
                  <documentation>
                     .Fleet Prioritization - Arrival: The relative priority of a flight, within a flight 
                     operator s fleet of aircraft, that has been defined for a portion or the entire arrival 
                     phase of flight 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="arrivalSequenceNumber" type="fb:CountType" use="optional" > 
               <annotation>
                  <documentation>
                     .Arrival Sequence Number: The expected sequence of the flight in the scheduling list 
                     of arriving flights. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="standardInstrumentArrival" type="fb:StandardInstrumentRouteDesignatorType" use="optional" > 
               <annotation>
                  <documentation>
                     .Standard Instrument Arrival Designator: The textual designator of the Standard Instrument 
                     Arrival (STAR). 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="FlightArrival" type="fx:FlightArrivalType" substitutionGroup="fb:Feature" /> 
</schema>
