skyguide-ei-parent/skyguide-ei-schema/src/main/resources/xsd/flight/enroute/Coordination.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="unqualified"
   targetNamespace="http://www.fixm.aero/flight/2.0"
   version="2.0.0"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/2.0"
   xmlns:ff="http://www.fixm.aero/foundation/2.0"
   xmlns:fx="http://www.fixm.aero/flight/2.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2013 FIXM CCB membership comprising: Airservices Australia, EUROCONTROL, 
         JCAB, NATS, NavCanada, SESAR Joint Undertaking and US FAA 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions and the disclaimer in the documentation and/or other materials 
         provided with the distribution. 
         * Neither the names of Airservices Australia, EUROCONTROL, JCAB, NATS, NavCanada, 
         SESAR Joint Undertaking and US FAA nor the names of their contributors may be used 
         to endorse or promote products derived from this specification without specific prior 
         written permission. 
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on Airservices Australia: http://www.airservicesaustralia.com/ 
         Details on EUROCONTROL: http://www.eurocontrol.int/ 
         Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
         Details on NATS: http://www.nats.co.uk/ 
         Details on NavCanada: http://www.navcanada.ca/ 
         Details on the SESAR JU and its members: http://www.sesarju.eu/players/members 
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <import namespace="http://www.fixm.aero/base/2.0" schemaLocation="./../../base/Base.xsd"/>
   <import namespace="http://www.fixm.aero/foundation/2.0" schemaLocation="./../../foundation/Foundation.xsd"/>
   <include schemaLocation="./EnRoute.xsd"/>
   <include schemaLocation="./../flight/FlightRoute.xsd"/>
   <annotation>
      <documentation>
         The Coordination package contains details of transfer of control between the air 
         traffic control units as the flight progresses through the boundaries along the route. 
         
      </documentation>
   </annotation>

   <complexType name="AssignedSpeedType">
      <annotation>
         <documentation>
            .Boundary Crossing - Assigned Speed/Coordinated: Speed clearance information assigning 
            a speed and speed condition to the flight at the boundary point.  The speed condition 
            indicates whether the aircraft will be maintaining, exceeding, or flying more slowly 
            than the assigned boundary crossing speed. 
         </documentation>
      </annotation>
      <simpleContent>
         <extension base="ff:IndicatedAirspeedType">
            <attribute name="speedCondition" type="fx:SpeedConditionType" use="required" > 
               <annotation>
                  <documentation>
                     The speed condition indicates whether the aircraft will be maintaining, exceeding, 
                     or flying more slowly than the assigned boundary crossing speed. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </simpleContent>
   </complexType>

   <complexType name="BoundaryCrossingType">
      <annotation>
         <documentation>
            A boundary crossing between two Air Traffic Control Unit areas of control. 
         </documentation>
      </annotation>
      <sequence>
         <element name="boundaryCrossingCoordinated" type="fx:BoundaryCrossingCoordinatedType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Coordinated boundary crossing information with associated details including altitude, 
                  crossing point and crossing time. 
               </documentation>
            </annotation>
         </element>
         <element name="boundaryCrossingProposed" type="fx:BoundaryCrossingProposedType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  A proposed boundary crossing information with associated details including altitude, 
                  crossing point and crossing time. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="BoundaryCrossing" type="fx:BoundaryCrossingType" /> 

   <simpleType name="BoundaryCrossingConditionType">
      <annotation>
         <documentation>
            .Boundary Crossing Condition: Indicator of whether an aircraft will cross an associated 
            boundary crossing point at or above, or at or below the altitude specified by the 
            Boundary Crossing Level - Transition. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AT_OR_ABOVE">
            <annotation>
               <documentation>
                  Indicates that the transition altitude is at or above the specified. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="AT_OR_BELOW">
            <annotation>
               <documentation>
                  Indicates that the transition altitude is at or below the specified. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <complexType name="BoundaryCrossingCoordinatedType">
      <annotation>
         <documentation>
            Coordinated boundary crossing information with associated details including altitude, 
            crossing point and crossing time. 
         </documentation>
      </annotation>
      <sequence>
         <element name="altitude" type="ff:AltitudeType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  .Boundary Crossing Level - Cleared/Coordinated: The cleared altitude (flight level) 
                  at which the aircraft will cross the boundary crossing point 
               </documentation>
            </annotation>
         </element>
         <element name="assignedSpeed" type="fx:AssignedSpeedType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Boundary Crossing - Assigned Speed/Coordinated: Speed clearance information assigning 
                  a speed and speed condition to the flight at the boundary point.  The speed condition 
                  indicates whether the aircraft will be maintaining, exceeding, or flying more slowly 
                  than the assigned boundary crossing speed. 
               </documentation>
            </annotation>
         </element>
         <element name="clearedBlock" type="fx:ClearedLevelBlockType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Boundary Crossing Level - Cleared Block/Coordinated: A vertical range of levels 
                  transmitted as the boundary crossing level. 
               </documentation>
            </annotation>
         </element>
         <element name="crossingPoint" type="fb:SignificantPointType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  .Boundary Crossing Point/Coordinated: The point where the flight will cross an ATS 
                  facility boundary. 
               </documentation>
            </annotation>
         </element>
         <element name="offTrackDeviation" type="fx:OffTrackDeviationType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Negotiated boundary crossing off track deviation. 
                  .Boundary Crossing - Off Track Deviation/Coordinated: Provides the offset clearance 
                  information if the flight will be offset at the boundary crossing point.  For the 
                  boundary crossing point, the off track deviation information includes the deviation 
                  direction the flight will be offset, the distance and the reason for the offset. 
                  
               </documentation>
            </annotation>
         </element>
         <element name="transitionAltitude" type="fx:TransitionAltitudeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Negotiated boundary crossing transition altitude. 
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="crossingTime" type="ff:TimeType" use="required" > 
         <annotation>
            <documentation>
               .Boundary Crossing Time/Coordinated: The estimated time at which a flight will cross 
               the associated boundary crossing point. The time is given in UTC 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="BoundaryCrossingCoordinated" type="fx:BoundaryCrossingCoordinatedType" /> 

   <complexType name="BoundaryCrossingProposedType">
      <annotation>
         <documentation>
            A proposed boundary crossing information with associated details including altitude, 
            crossing point and crossing time. 
         </documentation>
      </annotation>
      <sequence>
         <element name="altitude" type="ff:AltitudeType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  .Boundary Crossing Level - Proposed: If the aircraft is at level cruising, the proposed 
                  altitude (flight level) at which the aircraft will cross the boundary crossing point. 
                   If the aircraft is climbing or descending at the boundary crossing point, then the 
                  proposed cruise flight level to which it is proceeding when it crosses the boundary 
                  crossing point. 
               </documentation>
            </annotation>
         </element>
         <element name="crossingPoint" type="fb:SignificantPointType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  .Boundary Crossing Point - Proposed: The proposed point where the flight will cross 
                  an ATS facility boundary as requested by the accepting controller of the transferring 
                  controller. 
               </documentation>
            </annotation>
         </element>
         <element name="directRoutingRequest" type="fx:DirectRoutingType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Requested Direct Route: The points between which the accepting controller is requesting 
                  a direct routing from the transferring controller 
               </documentation>
            </annotation>
         </element>
         <element name="offTrackDeviation" type="fx:OffTrackDeviationType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Proposed boundary crossing off track deviation. 
               </documentation>
            </annotation>
         </element>
         <element name="requestedRoute" type="fx:RouteType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Requested Route: The route string requested by the accepting controller from the 
                  transferring controller. 
               </documentation>
            </annotation>
         </element>
         <element name="transitionAltitude" type="fx:TransitionAltitudeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Proposed boundary crossing transition altitude. 
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="crossingTime" type="ff:TimeType" use="required" > 
         <annotation>
            <documentation>
               .Boundary Crossing Time - Proposed: The estimated time when the flight will cross 
               the Boundary Crossing Point - Proposed, as requested by the accepting controller 
               from the transferring controller. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="BoundaryCrossingProposed" type="fx:BoundaryCrossingProposedType" /> 

   <complexType name="ClearedLevelBlockType">
      <annotation>
         <documentation>
            .Boundary Crossing Level - Cleared Block/Coordinated: A vertical range of levels 
            transmitted as the boundary crossing level. 
         </documentation>
      </annotation>
      <sequence>
         <element name="lowerBoundaryCrossingLevel" type="ff:AltitudeType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  Lower level of the boundary crossing. 
               </documentation>
            </annotation>
         </element>
         <element name="upperBoundaryCrossingLevel" type="ff:AltitudeType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  Upper level of the boundary crossing. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="ClearedLevelBlock" type="fx:ClearedLevelBlockType" /> 

   <simpleType name="DeviationDirectionType">
      <annotation>
         <documentation>
            The direction of a boundary crossing offset deviation. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="LEFT">
            <annotation>
               <documentation>
                  Indicates that the direction of the boundary off track deviation is to the left of 
                  the original track. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="RIGHT">
            <annotation>
               <documentation>
                  Indicates that the direction of the boundary off track deviation is to the right 
                  of the original track. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="EITHER">
            <annotation>
               <documentation>
                  Indicates that the direction of the boundary off track deviation is to either direction 
                  of the original track. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="DeviationReasonType">
      <annotation>
         <documentation>
            The reason for boundary crossing offset deviation. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="OFFSET">
            <annotation>
               <documentation>
                  The reason of boundary crossing off track deviation is offset. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="WEATHER">
            <annotation>
               <documentation>
                  The reason of boundary crossing off track deviation is weather related. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <complexType name="DirectRoutingType">
      <annotation>
         <documentation>
            .Cleared Direct To: Contains the optional starting location from which the direct 
            clearance is granted and the position that the aircraft has been cleared directly 
            to. 
         </documentation>
      </annotation>
      <sequence>
         <element name="from" type="fb:SignificantPointType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  Location from which the direct clearance is granted. 
               </documentation>
            </annotation>
         </element>
         <element name="to" type="fb:SignificantPointType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  Location to which the direct clearance is granted. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="DirectRouting" type="fx:DirectRoutingType" /> 

   <complexType name="EnRouteBoundaryCrossingsType">
      <annotation>
         <documentation>
            Contains information about a set of traversed unit boundaries for the flight. 
         </documentation>
      </annotation>
      <sequence>
         <element name="unitBoundary" type="fx:UnitBoundaryType" minOccurs="1" maxOccurs="unbounded" nillable="true" > 
            <annotation>
               <documentation>
                  .Unit Boundary List: The ordered list of units that the flight is expected to traverse 
                  based on the planned route of flight and altitude. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="EnRouteBoundaryCrossings" type="fx:EnRouteBoundaryCrossingsType" /> 

   <complexType name="HandoffType">
      <annotation>
         <documentation>
            An action taken to transfer the radar identification of an aircraft from one controller 
            to another controller if the aircraft will enter the receiving controller's airspace 
            and radio communications with the aircraft will be transferred. 
         </documentation>
      </annotation>
      <sequence>
         <element name="coordinationStatus" type="fx:CoordinationStatusType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  .Coordination Status: The status of Coordination and Transfer of Control between 
                  the currently Controlling ATSU to the downstream to be Controlling ATSU. 
               </documentation>
            </annotation>
         </element>
         <element name="receivingUnit" type="fb:AtcUnitReferenceType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  .Handoff Receiving Sector: Identifies the ATC sector receiving control of the aircraft 
                  as a result of a handoff. 
               </documentation>
            </annotation>
         </element>
         <element name="transferringUnit" type="fb:AtcUnitReferenceType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  .Handoff Transferring Sector: Identifies the ATC sector transferring control of the 
                  aircraft as a result of a handoff. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="Handoff" type="fx:HandoffType" /> 

   <complexType name="OffTrackDeviationType">
      <annotation>
         <documentation>
            .Boundary Crossing - Off Track Deviation/Coordinated: Provides the offset clearance 
            information if the flight will be offset at the boundary crossing point. For the 
            boundary crossing point, the off track deviation information includes the deviation 
            direction the flight will be offset, the distance and the reason for the offset. 
            
         </documentation>
      </annotation>
      <sequence>
         <element name="deviationDistance" type="ff:DistanceType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  The distance for an off track deviation offset. 
               </documentation>
            </annotation>
         </element>
      </sequence>
      <attribute name="deviationDirection" type="fx:DeviationDirectionType" use="required" > 
         <annotation>
            <documentation>
               The direction of a boundary crossing offset deviation. 
            </documentation>
         </annotation>
      </attribute>
      <attribute name="deviationReason" type="fx:DeviationReasonType" use="optional" > 
         <annotation>
            <documentation>
               The reason for boundary crossing offset deviation. 
            </documentation>
         </annotation>
      </attribute>
   </complexType>
   <element name="OffTrackDeviation" type="fx:OffTrackDeviationType" /> 

   <simpleType name="SpeedConditionType">
      <annotation>
         <documentation>
            The speed condition indicates whether the aircraft will be maintaining, exceeding, 
            or flying more slowly than the assigned boundary crossing speed. 
             
            .Boundary Crossing - Assigned Speed/Coordinated: Speed clearance information assigning 
            a speed and speed condition to the flight at the boundary point.  The speed condition 
            indicates whether the aircraft will be maintaining, exceeding, or flying more slowly 
            than the assigned boundary crossing speed. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="AT_OR_LESS">
            <annotation>
               <documentation>
                  Indicates that the aircraft will be flying at or slower than the assigned boundary 
                  crossing speed. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="AT_OR_GREATER">
            <annotation>
               <documentation>
                  Indicates that the aircraft will be flying at or faster than the assigned boundary 
                  crossing speed. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="AT">
            <annotation>
               <documentation>
                  Indicates that the aircraft will be flying at  the assigned boundary crossing speed. 
                  
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <complexType name="TransitionAltitudeType">
      <annotation>
         <documentation>
            .Boundary Crossing Level - Transition/Coordinated: An altitude (flight level) at 
            or above/below which an aircraft will cross the associated boundary point. 
            .Boundary Crossing Level - Transition - Proposed: The proposed altitude (flight level) 
            at or above/below which an aircraft will cross the associated boundary point, as 
            requested by the accepting controller from the transferring controller. 
         </documentation>
      </annotation>
      <simpleContent>
         <extension base="ff:AltitudeType">
            <attribute name="crossingCondition" type="fx:BoundaryCrossingConditionType" use="optional" > 
               <annotation>
                  <documentation>
                     .Boundary Crossing Level - Transition/Coordinated: An altitude (flight level) at 
                     or above/below which an aircraft will cross the associated boundary point. 
                     .Boundary Crossing Level - Transition - Proposed: The proposed altitude (flight level) 
                     at or above/below which an aircraft will cross the associated boundary point, as 
                     requested by the accepting controller from the transferring controller. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </simpleContent>
   </complexType>

   <complexType name="UnitBoundaryType">
      <annotation>
         <documentation>
            Represents an Unit boundary that will be traversed En Route. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:AtcUnitReferenceType">
            <sequence>
               <element name="boundaryCrossing" type="fx:BoundaryCrossingType" minOccurs="1" maxOccurs="1" nillable="true" > 
                  <annotation>
                     <documentation>
                        A boundary crossing between two Air Traffic Control Unit areas of control. 
                     </documentation>
                  </annotation>
               </element>
               <element name="downstreamUnit" type="fb:AtcUnitReferenceType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Downstream Unit: The next unit that the flight will be controlled by based on the 
                        planned route of flight, altitude, and accepted constraints. 
                     </documentation>
                  </annotation>
               </element>
               <element name="handoff" type="fx:HandoffType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        An action taken to transfer the radar identification of an aircraft from one controller 
                        to another controller if the aircraft will enter the receiving controller's airspace 
                        and radio communications with the aircraft will be transferred. 
                     </documentation>
                  </annotation>
               </element>
               <element name="upstreamUnit" type="fb:AtcUnitReferenceType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        .Upstream Unit: The unit that the flight will enter prior to this unit, based on 
                        the planned route of flight, altitude, and accepted constraints. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="unitBoundaryIndicator" type="fx:UnitBoundaryIndicatorType" use="required" > 
               <annotation>
                  <documentation>
                     .Unit Boundary Indicator: An indicator of the status of the boundary crossing in 
                     the Unit Boundary List as a past crossing, the current or next crossing, or a future 
                     crossing. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="UnitBoundary" type="fx:UnitBoundaryType" substitutionGroup="fb:AtcUnitReference" /> 

   <simpleType name="UnitBoundaryIndicatorType">
      <annotation>
         <documentation>
            .Unit Boundary Indicator: An indicator of the status of the boundary crossing in 
            the Unit Boundary List as a past crossing, the current or next crossing, or a future 
            crossing. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="PAST">
            <annotation>
               <documentation>
                  Indicates a past traversed Air Traffic Control Unit. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="CURRENT">
            <annotation>
               <documentation>
                  Indicates a Current Air Traffic Control Unit. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="FUTURE">
            <annotation>
               <documentation>
                  Indicates a future Air Traffic control unit. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
</schema>
