skyguide-ei-parent/skyguide-ei-schema/src/main/resources/xsd/flight/enroute/EnRouteData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="unqualified"
   targetNamespace="http://www.fixm.aero/flight/2.0"
   version="2.0.0"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/2.0"
   xmlns:ff="http://www.fixm.aero/foundation/2.0"
   xmlns:fx="http://www.fixm.aero/flight/2.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2013 FIXM CCB membership comprising: Airservices Australia, EUROCONTROL, 
         JCAB, NATS, NavCanada, SESAR Joint Undertaking and US FAA 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions and the disclaimer in the documentation and/or other materials 
         provided with the distribution. 
         * Neither the names of Airservices Australia, EUROCONTROL, JCAB, NATS, NavCanada, 
         SESAR Joint Undertaking and US FAA nor the names of their contributors may be used 
         to endorse or promote products derived from this specification without specific prior 
         written permission. 
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on Airservices Australia: http://www.airservicesaustralia.com/ 
         Details on EUROCONTROL: http://www.eurocontrol.int/ 
         Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
         Details on NATS: http://www.nats.co.uk/ 
         Details on NavCanada: http://www.navcanada.ca/ 
         Details on the SESAR JU and its members: http://www.sesarju.eu/players/members 
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <import namespace="http://www.fixm.aero/base/2.0" schemaLocation="./../../base/Base.xsd"/>
   <import namespace="http://www.fixm.aero/foundation/2.0" schemaLocation="./../../foundation/Foundation.xsd"/>
   <include schemaLocation="./EnRoute.xsd"/>
   <annotation>
      <documentation>
         The EnRouteData package contains the high level en route and status information throughout 
         the flight. 
      </documentation>
   </annotation>

   <complexType name="BeaconCodeAssignmentType">
      <annotation>
         <documentation>
            Contains information about current, previous and next beacon code assignments along 
            with the beacon code assigning facility. 
         </documentation>
      </annotation>
      <sequence>
         <element name="currentBeaconCode" type="fb:BeaconCodeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Current assigned beacon code. 
               </documentation>
            </annotation>
         </element>
         <element name="previousBeaconCode" type="fb:BeaconCodeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Previous SSR Mode and Beacon Code: The Secondary surveillance radar (SSR) mode and 
                  code the flight was transponding before the current SSR Mode and Code. 
               </documentation>
            </annotation>
         </element>
         <element name="reassignedBeaconCode" type="fb:BeaconCodeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Reassigned SSR Mode and Beacon Code: The Secondary Surveillance Radar (SSR) mode 
                  and beacon code assigned to the flight in the downroute facility, if the flight's 
                  current beacon code is already in use by another flight in that facility. The next 
                  beacon code differs from the flight's current beacon code. 
               </documentation>
            </annotation>
         </element>
         <element name="reassigningUnit" type="fb:AtcUnitReferenceType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  .Reassigned Beacon Code Unit:  Identifies the downroute unit that assigned the next 
                  beacon code, in the case the beacon code was already in use by another flight at 
                  the downroute unit. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="BeaconCodeAssignment" type="fx:BeaconCodeAssignmentType" /> 

   <complexType name="ControlElementType">
      <annotation>
         <documentation>
            .Control Element: The constrained aerodrome or airspace element (subject to a Traffic 
            Management Initiative/Regulation) indicating the reason for a flight being controlled. 
            
         </documentation>
      </annotation>
      <choice>
         <element name="arrivalAerodrome" type="ff:AerodromeIcaoCodeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  An arrival aerodrome that is subject to air traffic control management. 
               </documentation>
            </annotation>
         </element>
         <element name="flowConstrainedArea" type="fx:FlowConstrainedAreaType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Airspace flow constrained area (FCA) 
               </documentation>
            </annotation>
         </element>
      </choice>
   </complexType>
   <element name="ControlElement" type="fx:ControlElementType" /> 

   <complexType name="EnRouteType">
      <annotation>
         <documentation>
            Groups the en route information about the flight such as the current position, coordination 
            between air traffic units, and boundary crossing throughout the duration of the flight. 
            
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:FeatureType">
            <sequence>
               <element name="alternateAerodrome" type="fb:AerodromeReferenceType" minOccurs="0" maxOccurs="unbounded" > 
                  <annotation>
                     <documentation>
                        .En Route Alternate Aerodrome: An ICAO designator of the aerodrome to which a flight 
                        could be diverted to while en route, if needed. 
                     </documentation>
                  </annotation>
               </element>
               <element name="beaconCodeAssignment" type="fx:BeaconCodeAssignmentType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Contains information about current, previous and next beacon code assignments along 
                        with the beacon code assigning facility. 
                     </documentation>
                  </annotation>
               </element>
               <element name="boundaryCrossings" type="fx:EnRouteBoundaryCrossingsType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Contains information about a set of traversed unit boundaries for the flight. 
                     </documentation>
                  </annotation>
               </element>
               <element name="controlElement" type="fx:ControlElementType" minOccurs="0" maxOccurs="unbounded" > 
                  <annotation>
                     <documentation>
                        .Control Element: The constrained aerodrome or airspace element (subject to a Traffic 
                        Management Initiative/Regulation) indicating the reason for a flight being controlled. 
                        
                     </documentation>
                  </annotation>
               </element>
               <element name="cpdlcConnection" type="fx:CpdlcConnectionType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Groups information regarding CPDLC connection between air traffic control units 
                     </documentation>
                  </annotation>
               </element>
               <element name="pointout" type="fx:PointoutType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        A physical or automated action taken by a controller to transfer the radar identification 
                        of an aircraft to another controller if the aircraft will or may enter the airspace 
                        or protected airspace of another controller and radio communications will not be 
                        transferred. 
                     </documentation>
                  </annotation>
               </element>
               <element name="position" type="fx:AircraftPositionType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Contains the current position and associated data of the aircraft. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="fleetPrioritization" type="fb:FleetPriorityType" use="optional" > 
               <annotation>
                  <documentation>
                     .Fleet Prioritization  En route: The relative priority of a flight, within a flight 
                     operator’s fleet of aircraft, defined for a portion or the entire en route phase 
                     of flight 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="EnRoute" type="fx:EnRouteType" substitutionGroup="fb:Feature" /> 

   <complexType name="FlowConstrainedAreaType">
      <annotation>
         <documentation>
            Airspace flow constrained area (FCA) 
         </documentation>
      </annotation>
      <simpleContent>
         <extension base="fb:FreeTextType">
            <attribute name="airspaceControlledEntryTime" type="ff:TimeType" use="optional" > 
               <annotation>
                  <documentation>
                     .Airspace Entry Time - Controlled: The time at which a flight is required to arrive 
                     at a constrained airspace element as result of a tactical slot allocation or a Traffic 
                     Management Initiative. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </simpleContent>
   </complexType>

   <complexType name="PointoutType">
      <annotation>
         <documentation>
            A physical or automated action taken by a controller to transfer the radar identification 
            of an aircraft to another controller if the aircraft will or may enter the airspace 
            or protected airspace of another controller and radio communications will not be 
            transferred. 
         </documentation>
      </annotation>
      <sequence>
         <element name="originatingUnit" type="fb:AtcUnitReferenceType" minOccurs="1" maxOccurs="1" nillable="true" > 
            <annotation>
               <documentation>
                  .Pointout - Originating Sector: Identifies the ATC sector originating the pointout. 
                  
               </documentation>
            </annotation>
         </element>
         <element name="receivingUnit" type="fb:AtcUnitReferenceType" minOccurs="1" maxOccurs="unbounded" nillable="true" > 
            <annotation>
               <documentation>
                  .Pointout - Receiving Sector: Identifies the ATC sector receiving the pointout. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="Pointout" type="fx:PointoutType" /> 
</schema>
