skyguide-ei-parent/skyguide-ei-schema/src/main/resources/xsd/base/Aerodrome.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="unqualified"
   targetNamespace="http://www.fixm.aero/base/2.0"
   version="2.0.0"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/2.0"
   xmlns:ff="http://www.fixm.aero/foundation/2.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2013 FIXM CCB membership comprising: Airservices Australia, EUROCONTROL, 
         JCAB, NATS, NavCanada, SESAR Joint Undertaking and US FAA 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions and the disclaimer in the documentation and/or other materials 
         provided with the distribution. 
         * Neither the names of Airservices Australia, EUROCONTROL, JCAB, NATS, NavCanada, 
         SESAR Joint Undertaking and US FAA nor the names of their contributors may be used 
         to endorse or promote products derived from this specification without specific prior 
         written permission. 
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on Airservices Australia: http://www.airservicesaustralia.com/ 
         Details on EUROCONTROL: http://www.eurocontrol.int/ 
         Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
         Details on NATS: http://www.nats.co.uk/ 
         Details on NavCanada: http://www.navcanada.ca/ 
         Details on the SESAR JU and its members: http://www.sesarju.eu/players/members 
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <import namespace="http://www.fixm.aero/foundation/2.0" schemaLocation="./../foundation/Foundation.xsd"/>
   <include schemaLocation="./Base.xsd"/>
   <annotation>
      <documentation>
         The Base.Aerodrome schema contains information about aerodromes needed by flight 
         data. 
      </documentation>
   </annotation>

   <complexType abstract="true" name="AerodromePositionType">
      <annotation>
         <documentation>
            AerodromePosition is a reference to a physical airport feature that an aircraft may 
            traverse during arrival, departure, or surface movement. 
         </documentation>
      </annotation>
   </complexType>
   <element name="AerodromePosition" type="fb:AerodromePositionType" /> 

   <complexType name="AerodromePositionTimeType">
      <annotation>
         <documentation>
            Records the times at which an aircraft arrived at an airport position and/or departed 
            an aerodrome position. Note that the times are MultiTimes, so this structure can 
            record both estimated and actual times for all position arrival and departure. 
         </documentation>
      </annotation>
      <sequence>
         <element name="arriveAtPosition" type="fb:PositionMultiTimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Estimated and/or actual times at which the aircraft arrives at the specified position. 
                  
               </documentation>
            </annotation>
         </element>
         <element name="departFromPosition" type="fb:PositionMultiTimeType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  Estimated and/or actual times at which the aircraft departs the specified position. 
                  
               </documentation>
            </annotation>
         </element>
         <element name="position" type="fb:AerodromePositionType" minOccurs="0" maxOccurs="1" > 
            <annotation>
               <documentation>
                  The airport position (terminal, stand, runway,etc) traversed by the aircraft during 
                  arrival, departure, or surface movement. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="AerodromePositionTime" type="fb:AerodromePositionTimeType" /> 

   <complexType name="AerodromePositionTimeListType">
      <annotation>
         <documentation>
            The set of all airport positions traversed by a flight during arrival, departure, 
            or surface movement, ordered by position arrival times. 
         </documentation>
      </annotation>
      <sequence>
         <element name="positionTime" type="fb:AerodromePositionTimeType" minOccurs="0" maxOccurs="unbounded" > 
            <annotation>
               <documentation>
                  List of position arrival/departure times is ordered by earliest of position arrival 
                  estimated or actual time. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="AerodromePositionTimeList" type="fb:AerodromePositionTimeListType" /> 

   <complexType abstract="true" name="AerodromeReferenceType">
      <annotation>
         <documentation>
            Aerodromes may be identified by: 
            * their ICAO codes ("KDFW"), OR 
            * (for unlisted aerodromes) their names ("Dallas Fort Worth") PLUS significant point 
            
         </documentation>
      </annotation>
   </complexType>
   <element name="AerodromeReference" type="fb:AerodromeReferenceType" /> 

   <complexType name="IcaoAerodromeReferenceType">
      <annotation>
         <documentation>
            Aerodrome identified by standard ICAO identifier code 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:AerodromeReferenceType">
            <attribute name="code" type="ff:AerodromeIcaoCodeType" use="optional" > 
               <annotation>
                  <documentation>
                     Aerodrome's ICAO code. e.g. "KDFW" 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="IcaoAerodromeReference" type="fb:IcaoAerodromeReferenceType" substitutionGroup="fb:AerodromeReference" /> 

   <complexType name="PositionMultiTimeType">
      <annotation>
         <documentation>
            Represents the union of times to be recorded for an aircraft's arrival or departure 
            at any of the airport positions (terminals, stands, runways, etc.). In addition to 
            the inherited values of "estimated" and "actual", records the following time types: 
            
             
            * controlled - specified by controller 
            * initial - specification of the time at flight creation 
            * predicted - most reliable prediction of the time 
            * target - reliable estimate of the time. 
             
            Not all of these time types will be applicable to all airport positions, and it is 
            the responsibility of the application to supply values for the appropriate ones and 
            ignore the others. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:MultiTimeType">
            <sequence>
               <element name="controlled" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Time specified by the controller of control program 
                     </documentation>
                  </annotation>
               </element>
               <element name="initial" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Time as first specified in the flight plan 
                     </documentation>
                  </annotation>
               </element>
               <element name="target" type="fb:ReportedTimeType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        Time estimate by qualified personnel 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
         </extension>
      </complexContent>
   </complexType>
   <element name="PositionMultiTime" type="fb:PositionMultiTimeType" substitutionGroup="fb:MultiTime" /> 

   <complexType name="RunwayPositionType">
      <annotation>
         <documentation>
            Reference to an airport runway for arrival, departure, or surface movement. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:AerodromePositionType">
            <attribute name="runwayName" type="ff:RunwayNameType" use="optional" > 
               <annotation>
                  <documentation>
                     Name of the traversed runway. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="RunwayPosition" type="fb:RunwayPositionType" substitutionGroup="fb:AerodromePosition" /> 

   <simpleType name="StandardInstrumentRouteDesignatorType">
      <annotation>
         <documentation>
            Describes a standard instrument route procedure. May be used for arrival or departure 
            depending on context. 
         </documentation>
      </annotation>
      <restriction base="xs:string"/>
   </simpleType>

   <complexType name="StandPositionType">
      <annotation>
         <documentation>
            Reference to an airport stand that an aircraft can arrive at, depart from, or traverse 
            during arrival, departure, or surface movement. 
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:AerodromePositionType">
            <attribute name="standName" type="ff:StandNameType" use="optional" > 
               <annotation>
                  <documentation>
                     Name of the traversed stand. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="terminalName" type="ff:TerminalNameType" use="optional" > 
               <annotation>
                  <documentation>
                     Name of the traversed terminal. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="StandPosition" type="fb:StandPositionType" substitutionGroup="fb:AerodromePosition" /> 

   <complexType name="UnlistedAerodromeReferenceType">
      <annotation>
         <documentation>
            Identifies an aerodrome (that does not possess a listed ICAO code) by specifying 
            both 
            * its aerodrome name ("Dallas Fort Worth") AND 
            * a significant point consisting of 
    * its geographic location (latitude and longitude) OR
    * the first significant point of a flight route OR
    * fix/radial/offset from a known waypoint.
         </documentation>
      </annotation>
      <complexContent>
         <extension base="fb:AerodromeReferenceType">
            <sequence>
               <element name="point" type="fb:SignificantPointType" minOccurs="0" maxOccurs="1" > 
                  <annotation>
                     <documentation>
                        A significant point consisting of the aerodrome's 
                        * geographic location (latitude and longitude) OR 
                        * the first significant point of a flight route OR 
                        * fix/radial/offset from a known waypoint. 
                     </documentation>
                  </annotation>
               </element>
            </sequence>
            <attribute name="name" type="ff:AerodromeNameType" use="optional" > 
               <annotation>
                  <documentation>
                     Aerodrome's name. e.g. "Dallas Fort Worth". 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </complexContent>
   </complexType>
   <element name="UnlistedAerodromeReference" type="fb:UnlistedAerodromeReferenceType" substitutionGroup="fb:AerodromeReference" /> 
</schema>
