skyguide-ei-parent/skyguide-ei-schema/src/main/resources/xsd/base/Types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
   attributeFormDefault="unqualified"
   elementFormDefault="unqualified"
   targetNamespace="http://www.fixm.aero/base/2.0"
   version="2.0.0"
   xmlns="http://www.w3.org/2001/XMLSchema"
   xmlns:fb="http://www.fixm.aero/base/2.0"
   xmlns:xs="http://www.w3.org/2001/XMLSchema">
   
   <annotation>
      <documentation>
         Copyright (c) 2013 FIXM CCB membership comprising: Airservices Australia, EUROCONTROL, 
         JCAB, NATS, NavCanada, SESAR Joint Undertaking and US FAA 
         =========================================== 
         All rights reserved. 
          
         Redistribution and use in source and binary forms, with or without modification, 
         are permitted provided that the following conditions are met: 
         * Redistributions of source code must retain the above copyright notice, this list 
         of conditions and the disclaimer. 
         * Redistributions in binary form must reproduce the above copyright notice, this 
         list of conditions and the disclaimer in the documentation and/or other materials 
         provided with the distribution. 
         * Neither the names of Airservices Australia, EUROCONTROL, JCAB, NATS, NavCanada, 
         SESAR Joint Undertaking and US FAA nor the names of their contributors may be used 
         to endorse or promote products derived from this specification without specific prior 
         written permission. 
          
         DISCLAIMER 
          
         THIS SPECIFICATION IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
         AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED 
         WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. 
         IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, 
         INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED 
         TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR 
         BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN 
         CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN 
         ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH 
         DAMAGE. 
          
         ========================================== 
         Editorial note: this license is an instance of the BSD license template as provided 
         by the Open Source Initiative: 
         http://www.opensource.org/licenses/bsd-license.php 
          
         The authoritative reference for FIXM is www.FIXM.aero. 
          
         Details on Airservices Australia: http://www.airservicesaustralia.com/ 
         Details on EUROCONTROL: http://www.eurocontrol.int/ 
         Details on JCAB: http://www.mlit.go.jp/en/koku/index.html 
         Details on NATS: http://www.nats.co.uk/ 
         Details on NavCanada: http://www.navcanada.ca/ 
         Details on the SESAR JU and its members: http://www.sesarju.eu/players/members 
         Details on the US FAA: http://www.faa.gov/ 
      </documentation>
   </annotation>
   <annotation>
      <documentation>
         The Base.Types schema provides representations for various elements not belonging 
         in another schema. 
      </documentation>
   </annotation>

   <simpleType name="AirTrafficTypeType">
      <annotation>
         <documentation>
            The type of flight value associated with the point. It is associated with the first 
            point on the route and any subsequent point where the type of flight value changes. 
            
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="OAT">
            <annotation>
               <documentation>
                  Operational Air Traffic: Military and State operations not subject to civil ATC procedures 
                  but are ICAO recognized operations. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="GAT">
            <annotation>
               <documentation>
                  General Air Traffic: ICAO civil type operations. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <complexType name="BeaconCodeType">
      <annotation>
         <documentation>
            .Beacon Code: The assigned four-character numeric code transmitted by the aircraft 
            transponder in response to a secondary surveillance radar interrogation signal which 
            is used to assist air traffic controllers to identify aircraft. 
         </documentation>
      </annotation>
      <simpleContent>
         <extension base="fb:RestrictedBeaconCodeType">
            <attribute name="ssrMode" type="fb:SsrModeType" use="optional" > 
               <annotation>
                  <documentation>
                     Optional Secondary Surveillance Radar (SSR) Mode. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </simpleContent>
   </complexType>

   <simpleType name="RestrictedBeaconCodeType">
      <annotation>
         <documentation>
            Helper type for restrictions on BeaconCodeType 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <pattern value="[0-7]{4}"/>
      </restriction>
   </simpleType>

   <simpleType name="CarrierIdentifierType">
      <annotation>
         <documentation>
            A 3 letter Identifier for carrier. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <pattern value=" [A-Z]{3}"/>
      </restriction>
   </simpleType>

   <simpleType name="CountType">
      <annotation>
         <documentation>
            Represents positive integer counts of objects. 
         </documentation>
      </annotation>
      <restriction base="xs:int">
         <minInclusive value="0"/>
      </restriction>
   </simpleType>

   <simpleType name="DecimalIndexType">
      <annotation>
         <documentation>
            Generic decimal fraction expressed to tenths, used as scaling or comparison factor. 
            Instances should add high and low bounds as appropriate. 
         </documentation>
      </annotation>
      <restriction base="xs:decimal"/>
   </simpleType>

   <simpleType name="FleetPriorityType">
      <annotation>
         <documentation>
            Used to assign relative priorities to things and events.  A lower number means a 
            higher priority. 
         </documentation>
      </annotation>
      <restriction base="xs:int">
         <minInclusive value="1"/>
         <maxInclusive value="10"/>
      </restriction>
   </simpleType>

   <simpleType name="FlightIdentifierType">
      <annotation>
         <documentation>
            The flight name - sometimes called ACID 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <pattern value="[A-Z][A-Z0-9]{0,6}"/>
      </restriction>
   </simpleType>

   <simpleType name="FlightRulesType">
      <annotation>
         <documentation>
            The regulation, or combination of regulations, that governs all aspects of operations 
            under which the pilot plans to fly. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="IFR">
            <annotation>
               <documentation>
                  Instrument Flight Rules 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="VFR">
            <annotation>
               <documentation>
                  Visual Flight Rules 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="FreeTextType">
      <annotation>
         <documentation>
            Provides a standard representation for elements that may contain any text, 
            such as comments and notes. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <maxLength value="4096"/>
         <minLength value="0"/>
      </restriction>
   </simpleType>

   <simpleType name="FrequencyBandType">
      <annotation>
         <documentation>
            Label describing the range encompassing the RadioFrequency. One of HF, VHF, UHF, 
            or EHF. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="HIGH_FREQUENCY">
            <annotation>
               <documentation>
                  Label indicating RadioFrequency is HF (3 to 30 MHz). 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="VERY_HIGH_FREQUENCY">
            <annotation>
               <documentation>
                  Label indicating RadioFrequency is VHF (30 to 300 MHz). 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="ULTRA_HIGH_REQUENCY">
            <annotation>
               <documentation>
                  Label indicating RadioFrequency is UHF (0.3 to 3 GHz). 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="EMERGENCY_LOCATOR_TRANSMITTER">
            <annotation>
               <documentation>
                  Label indicating RadioFrequency is ELT. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="FrequencyMeasureType">
      <annotation>
         <documentation>
            Radio frequency unit of measure. Either kHz OR MHz. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="MEGAHERTZ">
            <annotation>
               <documentation>
                  Indicates this radio frequency is measured in MHz. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="KILOHERTZ">
            <annotation>
               <documentation>
                  Indicates this radio frequency is measured in kHz. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>

   <simpleType name="GloballyUniqueFlightIdentifierType">
      <annotation>
         <documentation>
            A reference that uniquely identifies a specific flight and that is independent of 
            any particular system. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <pattern value="[a-z]{2,10}\.[A-Z0-9]{2,10}\.[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}Z\.[A-Za-z0-9]+"/>
      </restriction>
   </simpleType>

   <simpleType name="IcaoAircraftIdentifierType">
      <annotation>
         <documentation>
            ICAO standard nomencalature of aircraft manufacturer and type. 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <pattern value="[A-Z0-9]{2,4}"/>
      </restriction>
   </simpleType>

   <complexType name="NameValueListType">
      <annotation>
         <documentation>
            A basic list of name/value pairs. 
             
            The name/value list structure is intended for use in the RARE situations where otherwise 
            unstructured data can be rendered into a semi-structure of tags and data. It is not 
            appropriate for adding arbitrary data to arbitrary places in the schema. 
         </documentation>
      </annotation>
      <sequence>
         <element name="nameValue" type="fb:NameValuePairType" minOccurs="0" maxOccurs="10" > 
            <annotation>
               <documentation>
                  A set of up to 10 name-value pairs. 
               </documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <element name="NameValueList" type="fb:NameValueListType" /> 

   <complexType final="#all" name="NameValuePairType">
      <annotation>
         <documentation>
            This is a general purpose data structure used when it is desired to map an identifying 
            string (the "name") into a data string (the "value"). These name/value pairs are 
            often part of a repeating element so that the whole element expresses a set of names 
            mapped onto a set of values. 
         </documentation>
      </annotation>
      <attribute name="name" use="required" > 
         <annotation>
            <documentation>
               The identifying portion of the pair, formatted as if for an enumeration. Consider 
               using an actual enumeration for legal values. 
            </documentation>
         </annotation>
         <simpleType>
            <restriction base="fb:FreeTextType">
               <pattern value="[A-Z0-9_]{1,20}"/>
            </restriction>
         </simpleType>
      </attribute>
      <attribute name="value" use="required" > 
         <annotation>
            <documentation>
               The data content portion of the pair. This is intended for a *short* unstructured 
               string like a natural language comment, and should not be used as storage for codes, 
               values, or other structured data. 
            </documentation>
         </annotation>
         <simpleType>
            <restriction base="fb:FreeTextType">
               <maxLength value="100"/>
               <minLength value="0"/>
            </restriction>
         </simpleType>
      </attribute>
   </complexType>
   <element name="NameValuePair" type="fb:NameValuePairType" /> 

   <simpleType name="ParametersType">
      <annotation>
         <documentation>
            The purpose of this class is to serve as a base class for parameter information for 
            the flight such as the ATN Logon parameters, and FANS/1A parameters 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <maxLength value="200"/>
         <minLength value="49"/>
      </restriction>
   </simpleType>

   <complexType name="RadioFrequencyType">
      <annotation>
         <documentation>
            RadioFrequency is the designation of a communication frequency in the HF, UHF, VHF, 
            EHF bands 
         </documentation>
      </annotation>
      <simpleContent>
         <extension base="fb:RestrictedRadioFrequencyType">
            <attribute name="band" type="fb:FrequencyBandType" use="required" > 
               <annotation>
                  <documentation>
                     Required band for RadioFrequency: One of HF, VHF, UHF, or EHF. 
                  </documentation>
               </annotation>
            </attribute>
            <attribute name="uom" type="fb:FrequencyMeasureType" use="required" > 
               <annotation>
                  <documentation>
                     Required unit of measure for RadioFrequency in KHz OR MHz. 
                  </documentation>
               </annotation>
            </attribute>
         </extension>
      </simpleContent>
   </complexType>

   <simpleType name="RestrictedRadioFrequencyType">
      <annotation>
         <documentation>
            Helper type for restrictions on RadioFrequencyType 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <pattern value="[0-9]{3}.[0-9]"/>
      </restriction>
   </simpleType>

   <simpleType name="SsrModeType">
      <annotation>
         <documentation>
            Represents the enumeration of Secondary Surveillance Radar (SSR) Modes: 
            * A - Transponder-Mode A (4 digits-4,096 codes) 
            * C - Transponder-Mode A (4 digits-4,096 codes) and Mode C 
            * S - Transponder-Mode S, including both pressure-altitude and aircraft identification 
            transmission 
         </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="A">
            <annotation>
               <documentation>
                  Indicates Secondary Surveillance Radar (SSR) is operating in Transponder-Mode A. 
                  
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="C">
            <annotation>
               <documentation>
                  Indicates Secondary Surveillance Radar (SSR) Transponder-Mode A and Mode C. 
               </documentation>
            </annotation>
         </enumeration>
         <enumeration value="S">
            <annotation>
               <documentation>
                  Indicates Secondary Surveillance Radar (SSR) Transponder-Mode S. 
               </documentation>
            </annotation>
         </enumeration>
      </restriction>
   </simpleType>
</schema>
